<% if usuario_signed_in? and current_usuario.isAdmin %>
  <h1>Mantener Profesor</h1>
<% else %>
  <h1> Profesores </h1>

<% end %>
<% if usuario_signed_in? %>
<div class = "media">
   <div class =  "media-body">
    <table class = "table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profesors.each do |profesor| %>
      <tr>
            <td><%= profesor.nombre %></td>
            <td><%= profesor.descripcion %></td>
            <% if usuario_signed_in? and current_usuario.isAdmin %>
              <td><%= link_to 'Editar', edit_profesor_path(profesor, :curso => params[:curso]), class: 'btn btn-mini btn-success' %></td>
              <td><%= link_to 'Eliminar', profesor_path(profesor,:curso => params[:curso]), class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
            <% end %>  
          </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

<br>
  <% if usuario_signed_in? and current_usuario.isAdmin %>
    <%if params[:curso]!=""%>
     <%= link_to 'Nuevo Profesor', new_profesor_path( :curso => params[:curso]), :class => "btn btn-default" %>
    <%else%>
      <%= link_to 'Nuevo Profesor', new_profesor_path, :class => "btn btn-default" %>
    <%end%>
  <%end%>
 <%= link_to "Atras", @curso, :class => "btn btn-success  " %>
<% end %>

