<div class= "jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @profesor.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @profesor.descripcion %>
</p>

<%= link_to "Editar", edit_profesor_path(@profesor,:curso => params[:curso]), :class => "btn btn-default" %>
<%= link_to "Atras", profesors_path( :curso => params[:curso]), :class => "btn btn-default" %>
</div>




