<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @comentario.descripcion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @comentario.fecha %>
</p>

<%= link_to 'Editar', edit_comentario_path(@comentario) %> |
<%= link_to 'Atras', comentarios_path %>
