
<tbody>

    <% @curso.consulta.each do |consultum| %>

    
      <div class= jumbotron>
      
      <h2>Consulta: <center><%= consultum.descripcion.html_safe %></center></h2>
      <hr class="featurette-divider">
      <hr class="featurette-divider">

      <% if consultum.related_consulta.count >0 %>
        
        <h2>Respuestas:</h2>
        

        <h2><% consultum.related_consulta.each do |consultu| %></h2>
        <hr class="featurette-divider">

        <%= consultu.descripcion.html_safe %>
          
        <% end %>   

      <%end%>
      <%= link_to 'Responder', new_consultum_path( :consultum_id => consultum.id, :curso => params[:curso]  ), class: 'btn btn-mini btn-warning' %>
      
      </div>
      
    <% end %>
    


<%= link_to "Atras", @curso, :class => "btn btn-success" %>
<%= link_to 'Nueva Consulta', new_consultum_path( :curso => @curso.id) , class: 'btn btn-success'%>
