<h1>Manter cursos</h1>

<div class = "media">
   <div class =  "media-body">
    <table class = "table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
            <td><%= curso.nombre %></td>
            <td><%= curso.descripcion.html_safe %></td>
            <td><%= link_to 'Editar', edit_curso_path(curso), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Eliminar', curso, class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>


<div>
  
  <%= link_to 'Nuevo curso', new_curso_path, class: 'btn btn-default' %>

  

</div>




