<div class="jumbotron">

  <center>

<p id="notice"><%= notice %></p>

<% if usuario_signed_in? %>
  <h2>
  <strong>Nombre:</strong>
  <%= @curso.nombre %>
  </h2>


<p>

  <strong>Descripcion:</strong>
  <%= @curso.descripcion %>
</p>

  </center>

</div>




<div class="jumbotron">

  <center>

<%= link_to "Archivos"+"(#{@curso.archivos.count})", archivos_path( :curso => @curso.id) , :class =>'btn btn-success' %>

<%= link_to "Preguntas y Respuestas"+"(#{@curso.consulta.count})", consultas_curso_path( :curso => @curso.id), class: 'btn btn-success' %>



<%= link_to "Profesores"+"(#{@curso.profesors.count})", profesors_path( :curso => @curso.id) , :class => 'btn btn-success' %>

</center>

</div>

<div class="jumbotron">


<% consultas = @curso.consulta.paginate(:page => params[:page], :per_page => 5)%>
<h2>Preguntas Recientes</h2>
<div class = "media">
   <div class =  "media-body">


   


    <table class = "table table-hover">
  <thead>
    <tr>
      <th>Pregunta</th>
      <th>Respuestas</th>
      <th colspan="3"></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% consultas.each do |consultum| %>
      <tr>
            <td><%= consultum.descripcion.html_safe %></td>            
            <td><%= consultum.related_consulta.count %></td>
           
           
      </tr>
      
    <% end %>
  </tbody>
</table>
<%= will_paginate consultas %>
  </div>
</div>
<br>
<!-- asdfasdfasdfdsaf -->
<%= link_to 'Nueva Consulta', new_consultum_path( :curso => params[:curso]) , class: 'btn btn-success'%>


      <% else %>
       
        Debe iniciar Sesion
      <% end %>

</div>
