

<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette jumbotron">
      	<div class="col-md-6">
          <hr class="featurette-divider">

        	<img src="http://www.utalca.cl/medios/utalca2010/banners/logo_utalca.png">
          <h2 class="featurette-heading"> <center> EDUCANDUS</center></h2>
        </div>
        <div class="col-md-6">
          <h2 class="featurette-heading">Un nuevo sitio. Es gratis.</h2>
          <p class="lead">Interactua con tus compañeros, revisa la seccion de preguntas, comparte archivos y vota por ellos.</p>
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette jumbotron">
      	<% if usuario_signed_in? %>

      	<div class="col-md-6">
          <h2 class="featurette-heading">Bienvenido.</h2>
          <p class="lead"> <strong><%= current_usuario.email %></strong>.</p>
        </div>
          
      <% else %>
      	<div class="col-md-6">
          <h2 class="featurette-heading">Si no tienes cuenta.</h2>
          <p class="lead">Ingresa Aqui para crear tu cuenta.</p>
          <%= link_to "Registrarse", new_usuario_registration_path, :class => 'btn btn-lg btn-success'%>


        </div>
        <div class="col-md-6">         
          <h2 class="featurette-heading">Primero debes iniciar sesión.</h2>
          <p class="lead">Comienza a compartir.</p>
          <%= link_to "Iniciar sesion", new_usuario_session_path, :class => 'btn btn-lg btn-success'  %>

        </div>

      <% end %>
       </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->



