<%= bootstrap_form_for(@consultum) do |f| %>
  <% if @consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consultum.errors.count, "error") %> prohibited this consultum from being saved:</h2>

      <ul>
      <% @consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :descripcion, :class => "tinymce", :rows => 15, :cols => 80 %>
    <% if params[:consultum_id]!="" %>
   
    <%= f.hidden_field :consultum_id, :value => params[:consultum_id]%>
    <% else %>
     <%= f.hidden_field :curso_id, :value => params[:curso]%>
    <%= f.hidden_field :consultum_id, :value => params[:consultum_id]%>
   
    <% end %>

  </div> 
  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>

<%= tinymce%>