
<div class="jumbotron">


<% if usuario_signed_in? %>
<h1>Mantener consulta</h1>

<div class = "media">
   <div class =  "media-body">
    <table class = "table table-hover">
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consulta.each do |consultum| %>
      <tr>
            <td><%= consultum.descripcion.html_safe %></td>
            
            <% if usuario_signed_in? and current_usuario.isAdmin %>
            <td><%= link_to 'Editar', edit_consultum_path(consultum, :curso => params[:curso]), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Eliminar', consultum_path(consultum, :curso => params[:curso]), class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
            <% end %>
          </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>


<div>
  <%if params[:curso]!=""%>
  <%= link_to 'Nueva consulta', new_consultum_path( :curso => params[:curso]), class: 'btn btn-success' %>
<%else%>
 <%= link_to 'Nueva consulta', new_consultum_path, class: 'btn btn-success' %>
<%end%>
 

<%= will_paginate @consulta, renderer: BootstrapPagination::Rails %>  

</div>

<% end %>





