<%= bootstrap_form_for(@usuario) do |f| %>


  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.text_field :password %>
  </div>
  <div class="field">    
   
    <%= f.check_box :isAdmin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
