
<h1>Mantener usuarios</h1>

<div class = "media">
   <div class =  "media-body">
    <table class = "table table-hover">
  <thead>
    <tr>
      <th>Correo</th>
      <th>Contrasena</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.email %></td>
        <td><%= usuario.password %></td>
            <td><%= link_to 'Editar', edit_usuario_path(usuario), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Eliminar', usuario, class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Esta seguro?' } %></td>
          </tr>
    <% end %>
  </tbody>
</table>
  </div>
</div>

