
<div class= "jumbotron">

<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @usuario.password %>
</p>

<%= link_to 'Editar', edit_usuario_path(@usuario), :class => "btn btn-default" %>
<%= link_to 'Atras', usuarios_path, :class => "btn btn-default" %>


</div>