<%= bootstrap_form_for(@archivo) do |f| %>


  <% if @archivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archivo.errors.count, "error") %> prohibited this archivo from being saved:</h2>

      <ul>
      <% @archivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.text_area :descripcion %>
    <%= f.hidden_field :curso_id, :value => params[:curso]%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
