<h1>Mantener archivo</h1>


<%= render 'form' %>


<%= link_to "Ver", @archivo, :class => "btn btn-default" %>
<%= link_to "Atras", archivos_path(:curso => params[:curso]), :class => "btn btn-default" %>

