<% if usuario_signed_in? and current_usuario.isAdmin %>
  <h1>Mantener archivos</h1>
<% else %>
  <h1> Archivos </h1>
<% end %>  

<% if usuario_signed_in? %>
<div class = "media">
   <div class =  "media-body">
    <table class = "table table-hover">
  <thead>
    <tr>
      <th>Url</th>
      <th>Descripcion</th>
      
      <th>Cantidad de Votos</th>
      
    </tr>
  </thead>

  <tbody>
    <% @archivos.each do |archivo| %>
     <tr>

            <td><%= link_to archivo.url, "http://"+archivo.url %></td> 

            <td><%= archivo.descripcion %></td>




            <% if usuario_signed_in? and current_usuario.isAdmin %>

             
              <td><%= link_to 'Editar', edit_archivo_path(archivo), class: 'btn btn-mini btn-success' %></td>
              <td><%= link_to 'Eliminar', archivo, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Esta seguro?' } %></td>
              <td class="votes"><%= pluralize( archivo.votes.count, 'Vote') %></td>

              <td><%= link_to 'Votar', vote_for_archivo_path(archivo, :page => params[:page], :curso => params[:curso]), class: 'btn btn-mini btn-info', :remote => false %></td>
               <% else %>
                <% if  usuario_signed_in? %>
                      <td class="votes"><%= pluralize( archivo.votes.count, 'Vote') %></td>

                      <td><%= link_to 'Votar', vote_for_archivo_path(archivo, :page => params[:page], :curso => params[:curso]), class: 'btn btn-mini btn-info', :remote => false %></td>
                       
                <% end %> 
            <% end %>  
          </tr>
    <% end %>
  </tbody>
</table>


<div>
  <%= link_to "Atras", @curso, :class => "btn btn-success" %>


<%if params[:curso]!=""%>
  <%= link_to 'Nuevo Archivo', new_archivo_path( :curso => params[:curso]), class: 'btn btn-success' %>
<%else%>
  <%= link_to 'Nuevo Archivo', new_archivo_path, class: 'btn btn-success' %>
<%end%>



</div>



<%= will_paginate @archivos, renderer: BootstrapPagination::Rails %>  


  
  </div>
</div>

<br>

<% end %>




