<!--
<div class= "jumbotron">
<p id="notice"><%= notice %></p>





<p>
  <strong>Url:</strong>
  <%= @archivo.url %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @archivo.descripcion %>
</p>

<p>
  <strong>Puntuacion:</strong>
  <%= @archivo.puntuacion %>
</p>


<%= link_to "Editar", edit_archivo_path(@archivo), :class => "btn btn-default" %>



<%= link_to "Atras", archivos_path(:curso => params[:curso]), :class => "btn btn-default" %>

-->

<div class= "jumbotron">


<h2>Gracias por participar ;)</h2>

<%= link_to "Volver",  root_path , :class => "btn btn-default" %>


</div>



